.elementor-4 .elementor-element.elementor-element-225c>.elementor-container {
    max-width: 1140px;
}

.elementor-4 .elementor-element.elementor-element-225c {
    padding: 0px 0px 150px 0px;
}

.elementor-4 .elementor-element.elementor-element-7da4:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-4 .elementor-element.elementor-element-7da4>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #595858;
}

.elementor-4 .elementor-element.elementor-element-7da4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 30px 0px 30px;
}

.elementor-4 .elementor-element.elementor-element-7da4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4 .elementor-element.elementor-element-7e17 {
    text-align: center;
}

.elementor-4 .elementor-element.elementor-element-7e17 .elementor-heading-title {
    color: #ffffff;
    font-family: "Cinzel", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-4 .elementor-element.elementor-element-7e17>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-4 .elementor-element.elementor-element-6bc7 {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.elementor-4 .elementor-element.elementor-element-6bc7>.elementor-widget-container {
    padding: 0px 50px 15px 50px;
}

.elementor-4 .elementor-element.elementor-element-5f2e:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-4 .elementor-element.elementor-element-5f2e>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #595858;
}

.elementor-4 .elementor-element.elementor-element-5f2e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 30px 0px 30px;
}

.elementor-4 .elementor-element.elementor-element-5f2e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4 .elementor-element.elementor-element-2d44 {
    text-align: center;
}

.elementor-4 .elementor-element.elementor-element-2d44 .elementor-heading-title {
    color: #ffffff;
    font-family: "Cinzel", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-4 .elementor-element.elementor-element-2d44>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-4 .elementor-element.elementor-element-7e4b {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.elementor-4 .elementor-element.elementor-element-7e4b>.elementor-widget-container {
    padding: 0px 50px 15px 50px;
}

.elementor-4 .elementor-element.elementor-element-22b7:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-4 .elementor-element.elementor-element-22b7>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #595858;
}

.elementor-4 .elementor-element.elementor-element-22b7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 30px 0px 30px;
}

.elementor-4 .elementor-element.elementor-element-22b7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4 .elementor-element.elementor-element-288d {
    text-align: center;
}

.elementor-4 .elementor-element.elementor-element-288d .elementor-heading-title {
    color: #ffffff;
    font-family: "Cinzel", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-4 .elementor-element.elementor-element-288d>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-4 .elementor-element.elementor-element-9a8 {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.elementor-4 .elementor-element.elementor-element-9a8>.elementor-widget-container {
    padding: 0px 50px 15px 50px;
}

.elementor-4 .elementor-element.elementor-element-d3c39fd {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-4 .elementor-element.elementor-element-d3c39fd .elementor-divider-separator {
    width: 100%;
}

.elementor-4 .elementor-element.elementor-element-d3c39fd .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4 .elementor-element.elementor-element-0798136 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-4 .elementor-element.elementor-element-0798136 .elementor-divider-separator {
    width: 100%;
}

.elementor-4 .elementor-element.elementor-element-0798136 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4 .elementor-element.elementor-element-a4f0393 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-4 .elementor-element.elementor-element-a4f0393 .elementor-divider-separator {
    width: 100%;
}

.elementor-4 .elementor-element.elementor-element-a4f0393 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-4 .elementor-element.elementor-element-81e84fd {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-4 .elementor-element.elementor-element-225c {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 100px 0px;
    }

    .elementor-4 .elementor-element.elementor-element-7da4>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4 .elementor-element.elementor-element-1603 {
        text-align: center;
    }

    .elementor-4 .elementor-element.elementor-element-5f2e>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4 .elementor-element.elementor-element-1132 {
        text-align: center;
    }

    .elementor-4 .elementor-element.elementor-element-22b7>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4 .elementor-element.elementor-element-358d {
        text-align: center;
    }
}

@media(max-width:767px) {
    .elementor-4 .elementor-element.elementor-element-225c {
        padding: 100px 0px 100px 0px;
    }

    .elementor-4 .elementor-element.elementor-element-7da4>.elementor-element-populated {
        margin: 0px 30px 50px 30px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4 .elementor-element.elementor-element-1603 {
        text-align: center;
    }

    .elementor-4 .elementor-element.elementor-element-5f2e>.elementor-element-populated {
        margin: 0px 30px 50px 30px;
    }

    .elementor-4 .elementor-element.elementor-element-1132 {
        text-align: center;
    }

    .elementor-4 .elementor-element.elementor-element-22b7>.elementor-element-populated {
        margin: 0px 30px 50px 30px;
    }

    .elementor-4 .elementor-element.elementor-element-358d {
        text-align: center;
    }
}